*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}